
/* Social Media Colors */
$facebook_color                 : #3b5998;
$twitter_color                  : #55acee;
$google_color                   : #4285f4;

/* Common Colors - Variables */

$off-wht                        : rgba(white,.4);


//colors
$color_diesel_approx: rgba(10,1,1,1);
$black_30: rgba(0,0,0,0.3);
$black_20: rgba(0,0,0,0.2);
$color_spicy_pink_31_approx: rgba(130,114,114,0.31);

//error colors
$color_success_border : rgba(10,178,86,1);
$color_success_heading : #23ab1d;
$color_success_background:#e1f4ed;

//error colors
$color_error_border : #d20808;
$color_error_heading:#ff0000;
$color_error_background:#fbf6f6;

//info colors 
$color_info_border : #056b92;
$color_info_heading:#0079ff;
$color_info_background:rgb(229, 232, 255);


