.search-filter {
    position      : relative;
    margin-top    : 20px;
    background    : white;
    padding       : 1.2em;
    margin-bottom : 15px;

    h4 {
        margin-bottom:1.2em;
    }
}
