.section-primary {
    background-color: #337cbb !important;
    color: #ffffff;
}

.section-invert {
    background-color: #2f3335 !important;
    color: #ffffff;
}


.section {
    position: relative;
    padding: 35px 0;
}
