
.search-form {

    padding    : 0.5em;
    border     : 1px solid $color_mountain_mist;
    background : #c5bbbe;

    input[type=text],
    input[type=tel],
    input[type=number],
    input[type=date],
    input[type=email],
    input[type=password],
    {
        @include input-override(
        $ht:26px,$br:3px,$bw:1px,
        $bColor:$color_mountain_mist,$fs:1em,$lh:1.3333333
        );
    }

    label {
        display       : inline-block;
        max-width     : 100%;
        margin-bottom : 5px;
        margin-top    : 5px;
        font-weight   : 700;
    }
}
