
.search-box {
    .btn-journey-type {
        @include btn-cta-theme($purple);
        display       : inline-block;
        width         : 30%;
        margin-bottom : 0px;
        border        : 2px solid $purple;
        box-shadow    : none;
        border-radius : 0;
    }
    .active {
        background-color : $color_pale_slate;
        border           : 2px solid $color_pale_slate;
        border-radius    : 0;
        color            : black;
    }
}
